.logo span:nth-child(1){
    color: #9e9e9e;
}


.btn-outline-success{
    color: #ffffff!important;
}

.logo span:nth-child(2){
    color: #f44336;
}

.nav-link{
    font-size: x-large;
    padding-top: 27px;
    padding-bottom: 33px;
}

.btn-search{
    font-size: 16px;
    color: #ffffff;
    margin-top: 0!important;
}

@media (max-width: 412px) {
    .nav-link{
        font-size: large;
        padding-left: 15px!important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav{
        margin-left: -16px;
        margin-right: -16px!important;
        margin-bottom: 10px;
    }

    .nav-link{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-link:hover{
        background: #F44336;
        color: white!important;
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
}

@media (min-width: 992px) {
    .text-search{
        width: 30rem!important;
    }

    .navbar{
        padding-top: 0!important;
        padding-bottom: 0!important;
        height: 6rem;
    }
}

.nav-link:hover{
    background: #F44336;
    color: white!important;
    padding-top: 27px;
    padding-bottom: 33px;
}

.logo{
    justify-content: center;
}

.header{
    box-shadow: 1px -2px 7px #6c757d;
    background-color: #eeeeee3d;
    display: flex;
    justify-content: center;
}

.alert{
    position: absolute;
    z-index: 1;
    max-width: 97%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.btn{
    background-color: #f44336!important;
    border-color: #f44336!important;
    width: 100%;
    margin-top: 15px;
}

.login{
    justify-content: center;
}

.form{
    border: 1px solid #eee;
}

.info a{
    margin-top: 5px;
    color: #959595;;
}

.info a:hover{
    color: #5a5a5a;
    text-decoration: none;
}

.info{
    display: flex;
}