.logo span:nth-child(1){
    color: #ffffff;
}


.btn-outline-success{
    color: #ffffff!important;
}

.logo span:nth-child(2){
    color: #fffdf4;
}

.nav-link{
    font-size: x-large;
    padding-top: 27px;
    padding-bottom: 33px;
    color: #ffffff!important;
}

.btn-search{
    font-size: 16px;
    color: #ffffff;
    margin-top: 0!important;
}

@media (max-width: 991px) {
    .nav-link{
        font-size: large;
        padding-left: 15px!important;
        padding-top: 20px;
        padding-bottom: 20px;
    }

       .navbar-nav{
        margin-left: -16px;
        margin-right: -16px!important;
        margin-bottom: 10px;
    }

    .nav-link{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-link:hover{
        background: #F44336;
        color: white!important;
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }

    .logo{
        padding-left: 0!important;
    }
    .nav-item{
        margin-right: 0;
    }
    .div-search {
        width: 100% !important;
    }

    .form-control{
        width: 100% !important;
    }
    .custom-select{
        width: 100%!important;
    }
    .text-search{
        display: block;
        width: 87%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

@media (min-width: 992px) {
    .text-search{
        width: 30rem!important;
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .navbar{
        padding-top: 0!important;
        padding-bottom: 0!important;
        height: 6rem;
    }

    .nav-item{
        margin-right: 20px;
    }

    .form-control{
        width: 100%!important;
    }

    .custom-select{
        width: 100%!important;
    }
}

.submit{
    padding-left: 0;
    padding-right: 0;
}

.title-register{
    color: #878787;
}

.nav-link:hover{
    background: #ffffff;
    color: #ff4639 !important;
    padding-top: 27px;
    padding-bottom: 33px;
}

.link-logo:hover{
    text-decoration: none;
}


.logo{
    justify-content: center;
}

.label-register{
    margin-top: 10px;
}

.header{
    box-shadow: -2px 1px 10px 0 #F44336;
    background-color: #F44336;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem
}

.alert{
    position: absolute;
    z-index: 1;
    max-width: 97%;
}

.navbar{
    box-shadow: -2px 1px 10px 0 #F44336;
    background-color: #F44336!important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.btn{
    background-color: #f44336!important;
    border-color: #f44336!important;
    width: 100%;
    margin-top: 15px;
}

.login{
    justify-content: center;
}

.form{
    border: 1px solid #eee;
}

.info a{
    margin-top: 5px;
    color: #959595;
}

.info a:hover{
    color: #5a5a5a;
    text-decoration: none;
}

.info{
    display: flex;
}